.JSEContainer
{
	border: 1px solid black;
	border-radius:5px;
	padding:10px;
}

.JSEPager
{
	flex-grow: 1;
	display: flex;
}



.JSEContainer > .JSETable
{
	-overflow-x: auto;
	-overflow-y: hidden;
}

.JSEContainer > .JSETable > table
{
	width:100%;
	border-collapse: collapse;
}

.JSEContainer > .JSETable > table > thead > tr.JSEFilters > th
{
	padding: 2px;
	vertical-align: middle;
}

.JSEContainer > .JSETable > table > thead > tr > th.JSESorters
{
	background-repeat: no-repeat;
	background-position: bottom center;
	cursor: pointer;
	padding: 2px 0px 10px 0px;
	background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
}

.JSEContainer > .JSETable > table > thead > tr > th.JSESorters.sort_asc
{
	background-position: bottom 2px center;
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
}

.JSEContainer > .JSETable > table > thead > tr > th.JSESorters.sort_desc
{
	background-position: bottom 2px center;
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}

.JSEContainer > .JSETable > table > thead > tr.JSEFilters > th > *
{
	width:100%;
	line-height: 20px;
}

.JSEText
{
	text-align:center;
}

.JSETop
{
	padding-bottom:20px;
}

.JSETop, .JSEBottom
{
	display:flex;
}

.JSESelectPage
{
	flex-grow:1;
}

.JSEPageSelect
{
	flex-grow:1;
	text-align:center;
}



.jse-select{

	border-radius: 0px;

	text-align: left;
	z-index: 1;
	color: rgb(51, 51, 51);
	background-color: white !important;
	border: 1px solid rgb(153, 153, 153) !important;

	font-size: 14px;
	padding: 1px 4px;


	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right .75rem center;
	background-size: 16px 12px;




	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}