.JSEContainer
{
	border: 1px solid black;
	border-radius:5px;
	padding:10px;
}

.JSEPager
{
	flex-grow: 1;
	display: flex;
}



.JSEContainer > .JSETable
{
	-overflow-x: auto;
	overflow-y: hidden;
}

.JSEContainer > .JSETable > table
{
	width:100%;
	border-collapse: collapse;
}

.JSEContainer > .JSETable > table > thead > tr.JSEFilters > th
{
	padding: 2px;
	vertical-align: middle;
}

.JSEContainer > .JSETable > table > thead > tr > th.JSESorters
{
	background-repeat: no-repeat;
	background-position: bottom center;
	cursor: pointer;
	padding: 2px 0px 10px 0px;
	background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
}

.JSEContainer > .JSETable > table > thead > tr > th.JSESorters.sort_asc
{
	background-position: bottom 2px center;
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
}

.JSEContainer > .JSETable > table > thead > tr > th.JSESorters.sort_desc
{
	background-position: bottom 2px center;
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}

.JSEContainer > .JSETable > table > thead > tr.JSEFilters > th > *
{
	width:100%;
	line-height: 20px;
}

.JSEText
{
	text-align:center;
}

.JSETop
{
	padding-bottom:20px;
}

.JSETop, .JSEBottom
{
	display:flex;
}

.JSESelectPage
{
	flex-grow:1;
}

.JSEPageSelect
{
	flex-grow:1;
	text-align:center;
}
